<!doctype html>
<html lang="En">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <!--    JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <!--    Summernote-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>



    <!--    fontAwsome-->
    <script src="https://kit.fontawesome.com/edff7358ca.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <title>document</title>
</head>
<body>
<!-- header -->
<nav class="navbar navbar-expand-lg bg-dark position-fixed">
    <div id="horizontal-underline"></div>
    {{#currentUser}}
        <div class="container-fluid">
            <div class="navbar-logo">
                <a id="write" data-status="" class="navbar-brand" href="/board/main/{{username}}"><i class="fa-solid fa-blog mr-2"></i>&nbsp &nbspHI, {{username}}</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a id="write" data-status="=" class="nav-link active text-white" aria-current="page" href="/board/saveForm/{{username}}">Write</a>
                    </li>
                    <li class="nav-item">
                        <a id="logout" data-status="" class= "nav-link text-white" href="/board/main">Sign Out</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu bg-dark">
                            <li><a class="dropdown-item text-white" href="/board/postList/{{username}}">Dashboard</a></li>
                            <li><a class="dropdown-item text-white" href="/user/updateForm/{{username}}">Account MNG</a></li>
                            <li><hr class="dropdown-divider text-white"></li>
                            <li><a class="dropdown-item text-white" href="#">Admin Setting</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <input type="hidden" id="username" value="{{username}}">
    {{/currentUser}}
    {{^currentUser}}
        <div class="container-fluid">
            <div class="navbar-logo">
                <a id="write" data-status="" class="navbar-brand" href="/board/main"><i class="fa-solid fa-blog mr-2"></i>Sam's Blog</a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a id="login" data-status="" class="nav-link active text-white" aria-current="page" href="/user/loginForm">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a id="signup" data-status="" class= "nav-link text-white" href="/user/joinForm">Sign-Up</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu bg-dark">
                            <li><a class="dropdown-item text-white" href="#">Action</a></li>
                            <li><a class="dropdown-item text-white" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider text-white"></li>
                            <li><a class="dropdown-item text-white" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    {{/currentUser}}
</nav>
<div id="alert" class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<!-- header -->


<section class="showPost main">
<div class="container">
<!--Post Form-->
    <table class="table">
        <thead>
        <tr>
            <th scope="col">POST</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <th scope="row"><p>Title</p>
                <p>{{target.title}}</p></th>
<!--            <br><hr>-->
        </tr>
        <tr>
            <th scope="row">
                <p>Poster</p>
                <p>{{target.user.username}}</p>
                </th>
<!--            <br><hr>-->
        </tr>
        <tr>
            <th scope="row"><p>Content</p>

                <p>{{{target.content}}}</p></th>
<!--            <br><hr>-->
        </tr>
        </tbody>


    </table>
    <!--Post Form-->

<!--    Delete/Edit/Back Btn-->
    <button id="btn-delete" data-post-board_id={{target.board_id}} data-post-username="{{target.user.username}}" class="btn btn-danger mr-2"> Delete</button>
    <button id="btn-back" class="btn btn-light mr-2"><a href="/board/postList/{{currentUser.username}}">Back</a></button>
    <button id="btn-edit"
            data-post-board_id="{{target.board_id}}"
            data-post-username="{{target.user.username}}"
            data-current-username="{{currentUser.username}}"
            data-post-title="{{target.title}}"
            data-post-content="{{target.content}}"
            data-bs-toggle="modal"
            data-bs-target="#post-edit-modal"

            class="btn btn-primary">Edit</button>
    <!--    Delete/Edit/Back Btn-->
</div>
    </section>
<!--reply Form-->
<section class="reply">
    <div class="container">
        <form>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Write Comment</label>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Contents</label>
                <input id="reply-content" name="contentslot" type="text" class="form-control summernote">
            </div>
        </form>
        <button id="reply-btn-post" class="btn btn-primary"
                data-reply-board_id="{{target.board_id}}"
                data-reply-user_id="{{currentUser.user_id}}"
        >Post</button>
    </div>
    <!--reply Form-->

<!--    Reply List-->
    <h3>Comments</h3>
    {{#Reply}}
    <div class="container mb-2">
        <div class="card">
            <div class="card-header">
                <div><h4>{{user.username}}</h4></div>
                <div class="button-group">
<!--                    // Edit,Delete button-->
                <button  type="button"
                        class="reply-btn-delete btn btn-danger"
                        data-reply-reply_id = "{{reply_id}}"
                        data-reply-board_id = "{{target.board_id}}"
                        data-reply-user_id = "{{user.user_id}}"
                         data-current-user_id="{{currentUser.user_id}}"
                >Delete</button>
                <button type="button" class="reply-btn-edit btn btn-info"
                        data-bs-toggle="modal"
                        data-bs-target="#reply-edit-modal"
                        data-reply-content="{{content}}"
                        data-reply-reply_id = "{{reply_id}}"
                        data-reply-board_id = "{{target.board_id}}"
                        data-reply-user_id = "{{user.user_id}}"
                        data-current-user_id="{{currentUser.user_id}}"
                >Edit</button>
            </div>
                <!--                    // Edit,Delete button-->

            </div>
            <div class="card-body">
                <p class="card-text">{{{content}}}</p>
            </div>
        </div>
    </div>
        {{/Reply}}
</section>
<!--    Reply List -->

<!-- Post Modal -->
<div class="modal fade" id="post-edit-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="modal-user-board_id-identifier" data-username="{{currentUser.username}}"
         data-board_id="{{target.board_id}}" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Post</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Tilte</label>
                        <input type="text" class="form-control" id="modal-title" placeholder="Write Contents">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Contents</label>
                        <input id="modal-content" name="contentslot" type="text" class="form-control summernote">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button id="btn-edit-modal" class="btn btn-primary" data-bs-dismiss="modal"
                >Post</button>
            </div>
        </div>
    </div>
</div>

<!-- Post modal-->

<!--reply modal-->
<div class="modal fade" id="reply-edit-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="modal-user-board_id-identifier" data-username="{temp}"
         data-board_id="{temp}" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Post</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Contents</label>
                        <input id="reply-modal-content" name="contentslot" type="text" class="form-control summernote">
                    </div>
                </form>

            </div>
            <!--            REPLY EDIT POST BTN-->
            <div class="modal-footer">

                <button id="btn-reply-edit-modal" class="btn-reply-edit-post btn btn-primary "
                        data-bs-dismiss="modal"
                        data-reply-content=""
                        data-reply-reply_id = ""
                        data-reply-board_id = ""
                        data-reply-user_id = ""
                >Post</button>
            </div>
            <!--          REPLY  EDIT POST BTN-->
        </div>
    </div>
</div>
<!--reply modal-->
<!--{{>layouts/footer}}-->

<script src="/js/board.js"></script>
<script src="/js/reply.js"></script>
<script src="/js/boardShowPost.js"></script>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

<script>
    $(document).ready(function() {
        $('.summernote').summernote({
            height : 300,
            minHeight : null,
            maxHeight : null,
            focus : true,
            callbacks : {
                onImageUpload : function(files) {  //이미지가 업로드 아이콘 클릭 될때만 발동되는 함수형 객체
                    for (var i = 0; i < files.length; i++) {
                        sendFile(files[i], this);  //this =  <textarea class="form-control summernote" id="content" name="content" placeholder="content" maxlength="140" rows="7" style="display: none;"></textarea>
                    }

                }
            }
        });
    });

    function sendFile(file, el){
    var form_data = new FormData();
    form_data.append('file',file);  // html form 형태로 파일을 담음
        $.ajax({
            data: form_data,
            type: "POST",
            url: '/file',
            cache: false,
            contentType: false,
            enctype : 'multipart/form-data', // 인코딩할때 multipart로 인코딩 and form-data
            processData : false,
            success: function(url){// url = ajax통신 종료 후 받는 리턴 객체( 리포지토리에서 받아온 이미지) 주소
                //file/n
                console.log(url);
                $(el).summernote('insertImage',url, function(file){
                    file.css('width',"50%");
                });

            }
        })

    }
    </script>
</body>
</html>